nav{
	border-radius : 0 !important;
	background-color: black !important;
	margin: 0px;
}


.cosa-menu{
	padding : 20px; 
	margin: 0px;
}



.image {
	position: relative;
	bottom: 20px;
  	background-image: url("https://static.pexels.com/photos/378442/pexels-photo-378442.jpeg");
  	background-size: cover;
  	background-position: center;
  	height: 800px;
}

.options{
	display: inline-block;
	border: 3px solid white;
	margin: 5px;
	padding: 15px 10px;
	
	
}
.container-fluid.centrado{
	   	position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
    }

.options > a{
	color: white;
	font-size: 28px;

}

.centrar{
	float: center;
	text-align: center;
	margin-bottom: 40px;

}

.redonda{
	width:300px;
    height:300px;
    border-radius:155px;
    border: 5px solid black;
}
.row.datos{
	
	margin-left:40px;
}

div > h2{
	margin-left: 100px;
}
div > p{
	margin-left: 100px;
}

.proyecto{
	display: block;
}
.proyecto > h1{
	text-align: center;
}

p{
	text-align: justify;
}
.row.diferente{
	align-items: center;
	text-align: center;
	margin: 20px 0px;
	color: white;
}
.active {
  background-color: #333333;
  color: whitesmoke;
}
#logo{
	font-family: "Great Vibes", cursive;
	font-size: 30px;
}
.descripcion{
	color: white;
}
.descripcion > p{
	padding: 8px;
	background-color: grey;
}

hr.style2 {
	border-top: 4px solid #8c8b8b;
	text-align: center;
}
hr.style2:after {
	content: '§';
	display: inline-block;
	position: relative;
	top: -14px;
	padding: 0 10px;
	background: #f0f0f0;
	color: #8c8b8b;
	font-size: 18px;
	-webkit-transform: rotate(60deg);
	-moz-transform: rotate(60deg);
	transform: rotate(60deg);
}

.img-paseo {
	position: relative;
	bottom: 20px;
  	background-image: url("https://upload.wikimedia.org/wikipedia/commons/f/fb/Parque_Ecologico_Loreto_y_Peña_Pobre_Arboles_2.JPG");
  	background-size: cover;
  	background-position: center;
  	height: 300px;
  	border : 2px solid black;
}
.img-festivAndes {
	position: relative;
	bottom: 20px;
  	background-image: url("https://upload.wikimedia.org/wikipedia/commons/e/eb/Mezipatra_2009_-_Homolution_party_1.jpg");
  	background-size: cover;
  	background-position: center;
  	height: 300px;
  	border : 2px solid black;
}
.img-minas {
	position: relative;
	bottom: 20px;
  	background-image: url("https://upload.wikimedia.org/wikipedia/commons/3/39/112-1269_IMG.JPG");
  	background-size: cover;
  	background-position: center;
  	height: 300px;
  	border : 2px solid black;
}
.img-2pds {
	position: relative;
	bottom: 20px;
  	background-image: url("http://www.publicdomainpictures.net/pictures/150000/velka/banner-header-tapete-1452601750M7p.jpg");
  	background-size: cover;
  	background-position: center;
  	height: 300px;
  	border : 2px solid black;

.active {
  background-color: #333333;
  color: whitesmoke;
}
.gal {
	
	
	-webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
	  
	
	}	
	.gal img{ width: 100%; padding: 7px 0;}
@media (max-width: 500px) {
		
		.gal {
	
	
	-webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
	  
	
	}
		
	}


